<div class="container">
<h1>This is our products</h1>

<table class="table" >
    <thead>
      <tr  class="table-dark">
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    <tbody>

      @for(item of  productsList; track $index ){
      <tr class="table-secondary">
        <th scope="row">{{item._id}}</th>
        <td>{{item.title}}</td>
        <td>{{item.price | currency:'EUR' }}</td>
        <td>{{item.description}}</td>
        <td> <button type="button" class="btn btn-outline-primary" (click)="navigate(item._id)">Details</button></td>
       
      </tr>
    }
    </tbody>
  </table>
</div>